.sidebar{
    background-color: #851753;
    height: 600px;
    margin-left: 150px;
    padding: 50px 90px;
}

.sidebar h2{
    color: white;
    font-size: 1.8rem;
}

.adminButton{
    background-color: #851753;
    border: none;
    line-height: 3rem;
    color: white;
    font-size: 16px;
}
.adminButton:hover{
    background: #bf1650;
}
